<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Moving Underline Nav Menu</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <nav>
  <div class="underline"></div>
  <div class="underline"></div>
  <div class="underline"></div>
  <a onClick="ul(0)">Home</a><a onClick="ul(1)">Videos</a><a onClick="ul(2)">Playlists</a><a onClick="ul(3)">Community</a><a onClick="ul(4)">Channels</a><a onClick="ul(5)">About</a>
  </nav>
<nav class="black">
  <div class="underline"></div>
  <div class="underline"></div>
  <div class="underline"></div>
  <a onClick="ul(0)">Home</a><a onClick="ul(1)">Videos</a><a onClick="ul(2)">Playlists</a><a onClick="ul(3)">Community</a><a onClick="ul(4)">Channels</a><a onClick="ul(5)">About</a>
</nav>
<nav class="full">
  <div class="underline"></div>
  <div class="underline"></div>
  <div class="underline"></div>
  <a onClick="ul(0)">Home</a><a onClick="ul(1)">Videos</a><a onClick="ul(2)">Playlists</a><a onClick="ul(3)">Community</a><a onClick="ul(4)">Channels</a><a onClick="ul(5)">About</a>
</nav>
<nav class="retro">
  <div class="underline"></div>
  <div class="underline"></div>
  <div class="underline"></div>
  <a onClick="ul(0)">Home</a><a onClick="ul(1)">Videos</a><a onClick="ul(2)">Playlists</a><a onClick="ul(3)">Community</a><a onClick="ul(4)">Channels</a><a onClick="ul(5)">About</a>
</nav>
  
  

    <script  src="js/index.js"></script>




</body>

</html>
